body {
	background: url('../img/technology/background-technology.webp') no-repeat center;
}

header {
	margin-bottom: 76px;
}

main {
	margin-bottom: 101px;
}

.technology__title {
	font-family: 'Barlow Condensed';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 34px;
	letter-spacing: 4.725px;
	color: #ffffff;
	margin-bottom: 26px;
	margin-left: 166px;
}

.technology__title span {
	opacity: 0.25;
	margin-right: 24px;
}

.technology__wrapper {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.technology__wrapper__img_tablet {
	display: none;
}

.technology__wrapper__links {
	display: flex;
	flex-direction: column;
	gap: 32px;
	margin-right: 80px;
}

.technology__wrapper__links__link {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.25);

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: 'Bellefair';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 37px;
	letter-spacing: 2px;
	color: #ffffff;
}

.technology__wrapper__links__link:hover {
	border: 1px solid rgba(255, 255, 255, 1);
}

.technology__wrapper__links__link_active {
	color: #0b0d17;
	background: #ffffff;
	border: none;
}

.technology__wrapper__content {
	margin-right: 130px;
	max-width: 470px;
}

.technology__wrapper__content__terminology {
	font-family: 'Barlow Condensed';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 2.7px;
	color: #d0d6f9;
	margin-bottom: 11px;
}

.technology__wrapper__content__title {
	font-family: 'Bellefair';
	font-style: normal;
	font-weight: 400;
	font-size: 56px;
	line-height: 64px;

	color: #ffffff;
	margin-bottom: 17px;
}

.technology__wrapper__content__text {
	width: 444px;
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	color: #d0d6f9;
}

@media (max-width: 768px) {
	body {
		background: url('../img/technology/background-technology-tablet.png') no-repeat center;
	}

	header {
		margin-bottom: 40px;
	}

	main {
		margin-bottom: 97px;
	}

	.technology__title {
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 3.375px;
		margin-left: 38px;
		margin-bottom: 60px;
	}

	.technology__title span {
		display: inline-block;
		margin-right: 16px;
	}

	.technology__wrapper {
		flex-direction: column;
		justify-content: flex-start;
	}

	.technology__wrapper__links {
		flex-direction: row;
		gap: 16px;
		margin-right: 0;
		margin-bottom: 44px;
	}

	.technology__wrapper__links__link {
		width: 60px;
		height: 60px;
		font-size: 24px;
		line-height: 28px;
		letter-spacing: 1.5px;
	}

	.technology__wrapper__content {
		text-align: center;
		margin-right: 0;
		max-width: 458px;
	}

	.technology__wrapper__content__terminology {
		margin-bottom: 16px;
	}

	.technology__wrapper__content__title {
		font-size: 40px;
		line-height: 46px;
		margin-bottom: 16px;
	}

	.technology__wrapper__content__text {
		width: 458px;
		font-size: 16px;
		line-height: 28px;
	}

	.technology__wrapper__img_tablet {
		display: block;
		margin-bottom: 56px;
	}

	.technology__wrapper__img {
		display: none;
	}
}

@media (max-width: 375px) {
	body {
		background: url('../img/technology/background-technology-mobile.png') no-repeat center;
	}

	header {
		margin-bottom: 24px;
	}

	main {
		margin-bottom: 81px;
	}

	.technology__title {
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 2.7px;
		text-align: center;
		margin-left: 0;
		margin-bottom: 32px;
	}

	.technology__wrapper__links {
		margin-bottom: 26px;
	}

	.technology__wrapper__links__link {
		width: 40px;
		height: 40px;
		font-size: 16px;
		line-height: 18px;
		letter-spacing: 1px;
	}

	.technology__wrapper__content {
		max-width: 327px;
	}

	.technology__wrapper__content__terminology {
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 2.3625px;
		margin-bottom: 9px;
	}

	.technology__wrapper__content__title {
		font-size: 24px;
		line-height: 28px;
	}

	.technology__wrapper__content__text {
		width: 327px;
		font-size: 15px;
		line-height: 25px;
	}

	.technology__wrapper__img_tablet {
		margin-bottom: 34px;
		height: 170px;
		object-fit: cover;
	}
}
