@media (max-width: $tablet) {
	body {
		background: url('../../img/planets/background-moon-tablet.webp') no-repeat center;
	}

	header {
		margin-bottom: 40px;
	}

	main {
		margin-bottom: 62px;

		.destination-title {
			font-size: 20px;
			line-height: 24px;
			letter-spacing: 3.375px;
			margin-left: 38px;
			margin-bottom: 60px;

			span {
				display: inline;
				margin-right: 19px;
			}
		}

		.planet {
			margin-left: 0;
			gap: 53px;
			flex-direction: column;
			align-items: center;

			img {
				margin-top: 0;
				width: 300px;
			}

			&__wrapper {
				width: 573px;

				&__navigation {
					margin-bottom: 32px;
					gap: 35px;
					justify-content: center;
				}

				&__content {
					text-align: center;

					h1 {
						font-size: 80px;
						line-height: 92px;
						margin-bottom: 8px;
					}

					p {
						font-size: 16px;
						line-height: 28px;
						padding-bottom: 49px;
					}
				}

				&__facts {
					text-align: center;
					justify-content: center;
				}
			}
		}
	}
}
