@media (max-width: $mobile) {
	body {
		background: url('../../img/planets/background-moon-mobile.webp') no-repeat center;
	}

	header {
		margin-bottom: 24px;
	}

	main {
		margin-bottom: 58px;

		.destination-title {
			font-size: 16px;
			line-height: 19px;
			letter-spacing: 2.7px;
			text-align: center;
			margin-left: 0;
			margin-bottom: 32px;
		}

		.planet {
			gap: 26px;

			img {
				width: 170px;
			}

			&__wrapper {
				width: 327px;

				&__navigation {
					margin-bottom: 20px;
					gap: 26px;

					a {
						font-size: 14px;
						line-height: 17px;
						letter-spacing: 2.3625px;
						width: auto;
						border-right: none;
					}

					a:hover {
						border-bottom: 3px solid rgba(255, 255, 255, 0.5);
						border-right: none;
					}
				}

				&__content {
					h1 {
						font-size: 56px;
						line-height: 64px;
						margin-bottom: 1px;
					}

					p {
						font-size: 15px;
						line-height: 25px;
						padding-bottom: 32px;
					}
				}

				&__facts {
					flex-direction: column;
					gap: 32px;
				}
			}
		}
	}
}
