@media (max-width: $mobile) {
	body {
		max-width: $mobile;
		background: url('../../img/background-mobile.webp') no-repeat center;
	}

	.header {
		margin-bottom: 48px;

		&__wrapper {
			margin: 24px 24px 0 24px;

			&__burger {
				display: block;
			}

			&__logo {
				margin-left: 0;
				width: 40px;
			}

			&__navigation {
				width: 254px;
				height: 100vh;

				top: -24px;
				right: -24px;

				flex-direction: column;
				align-items: flex-end;
				justify-content: flex-start;

				padding-left: 32px;
				gap: 32px;
				position: absolute;
				z-index: 1;

				button {
					display: block;
					margin: 34px 27px 33px 0;
				}
			}
		}
	}

	.hidden {
		display: none;
	}

	.links a {
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 2.7px;

		padding-bottom: 0;
		margin-top: 0;
		width: 222px;
		border-bottom: none;
		border-right: 4px solid rgba(0, 0, 0, 0);
	}

	.links a:hover {
		border-bottom: none;
		border-right: 4px solid $titleColor;
	}

	span {
		display: inline-block;
	}

	.main {
		margin-bottom: 48px;

		&__wrapper {
			gap: 81px;

			&__description {
				width: 327px;
				gap: 16px;

				&--subtitle {
					font-size: 16px;
					line-height: 19px;
					letter-spacing: 2.7px;
				}

				&--title {
					font-size: 80px;
					line-height: 100px;
				}

				&--text {
					font-size: 15px;
					line-height: 25px;
				}
			}

			&__explore {
				width: 150px;
				height: 150px;
				font-size: 20px;
				line-height: 23px;
				letter-spacing: 1.25px;
			}
		}
	}

	@keyframes scale-animation {
		from {
			width: 150px;
			height: 150px;
		}

		to {
			width: 230px;
			height: 230px;
		}
	}
}
